<!DOCTYPE html>
<html>
<head>
  <title> Mahesh Chandra| Ness Coding Exercise | Contacts Manager </title>
  <link rel="stylesheet" href="node_modules/angular-material/angular-material.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="node_modules/mdi/css/materialdesignicons.min.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>

<div ng-app="ngcontacts" ng-controller="contactsCtrl" ng-cloak >
  <md-toolbar>
    <div class="md-toolbar-tools">
      <p>  <strong><a href="index.html">Contact Manager | Ness Coding Exercise | Mahesh Chandra</a></strong> </p>
      <md-button ng-click="openSidebar()" >
        <md-icon class="mdi mdi-plus-circle" >  </md-icon>
        Add Contact
      </md-button>
      <md-button ng-click="showFilters=!showFilters" >
      <md-icon class="mdi mdi-magnify" >  </md-icon>
      Search
      </md-button>
    </div>
  </md-toolbar>

  <div class="filters" layout="row" layout-align="center center" ng-show="showFilters" >
    <md-input-container>
      <label>Enter Name</label>
      <input type="text" ng-model="contactsFilter" md-autofocus >
    </md-input-container>

    <div layout="row">
        <md-button class="md-warn" ng-click="contactsFilter=''"  >Clear</md-button>
    </div>
  </div>

  <md-sidenav class="md-sidenav-left md-whiteframe-z2 " md-component-id="left" >
    <md-toolbar>
      <h1 class="md-toolbar-tools" > Add Contact </h1>
    </md-toolbar>

    <md-content layout-padding >
        <form>
          <md-input-container>
            <label for="first name" >First Name</label>
            <input type="text" id="firstname" ng-model="contact.firstname" md-autofocus>
          </md-input-container>
          <md-input-container>
            <label for="last name" >Last Name</label>
            <input type="text" id="lastname" ng-model="contact.lastname" >
          </md-input-container>
          <md-input-container>
            <label for="mobilephone" >Mobile</label>
            <input type="text" id="mobilephone" ng-model="contact.mobilephone" >
          </md-input-container>
          <md-input-container>
            <label for="homephone" >Home</label>
            <input type="text" id="homephone" ng-model="contact.homephone" >
          </md-input-container>
          <md-input-container>
            <label for="email" >email</label>
            <input type="text" id="email" ng-model="contact.email" >
          </md-input-container>
          <md-input-container>
            <label for="address" >Address</label>
            <textarea type="text" id="address" ng-model="contact.address" ></textarea>
          </md-input-container>

          <md-button class="md-primary" ng-if="!editing" ng-click="saveContact(contact)" >Save</md-button>
          <md-button class="md-primary" ng-if="editing" ng-click="saveEdit(contact)" >Save Edit</md-button>
          <md-button class="md-warn" ng-click="closeSidebar()">Cancel</md-button>
        </form>
    </md-content>
  <!-- <pre>
    {{contact | json}}
  </pre> -->
  </md-sidenav>

  <div layout-gt-sm="row" layout="column">
    <div flex-gt-sm="30" flex  >
        <md-toolbar layout="row" class="md-hue-2">
          <div class="md-toolbar-tools">
            <span>Contact List Panel</span>
          </div>
        </md-toolbar>
        <md-content>
          <md-list flex>
            <md-list-item class="md-2-line" ng-repeat="contact in contacts | filter : contactsFilter">
              <div class="md-list-item-text" layout="column" ng-click="showDescription(contact)" >
                <h3 >{{ contact.firstname + ' '+ contact.lastname }}</h3>
                <p>{{ contact.mobilephone }}</p>
              </div>
              <md-divider ></md-divider>
            </md-list-item>
          </md-list>
        </md-content>
    </div>
    <md-divider></md-divider>
    <div flex-gt-sm="10" flex  style="margin-left:1px;margin-right:1px" ng-show="true" >
          <md-toolbar layout="clolumn" class="md-hue-2">
            <div class="md-toolbar-tools">
              <span>A<md-icon class="mdi mdi-magnify" >  </md-icon></span>
            </div>
          </md-toolbar>
          <md-content>
            <md-list flex>
              <md-list-item class="md-3-line">
                <div class="md-list-item-text" layout="column" >
                  <h2 ng-click="applyContactFilter('ALL')" >  ALL  </h2>
                  <h2 ng-repeat="value in alphahLinks" ng-click="applyContactFilter(value)" >{{value}}  </h2>
                </div>
                <md-divider ></md-divider>
              </md-list-item>
            </md-list>
          </md-content>
      </div>
    <md-divider></md-divider>
    <div flex-gt-sm="50" flex  >
      <md-toolbar layout="row" class="md-hue-2">
        <div class="md-toolbar-tools">
          <span>Contact Description Panel</span>
        </div>
      </md-toolbar>
      <md-content>
        <md-list flex>
          <md-list-item class="md-3-line">
            <div class="md-list-item-text" layout="column" >
              <h2><strong>{{ selectedContact.firstname + ' '+ selectedContact.lastname }}</strong></h2>
                <md-button class="md-primary" id="editbutton" ng-click="editContact()" >Edit</md-button>
                  <p> <h6><strong>Mobile</strong></h6> </p>
                  <p> <h3> {{ selectedContact.mobilephone }} </h3> </p>
                  <md-divider ></md-divider>
                  <p> <h3><strong>Work</strong></h3> </p>
                  <p> <h3> {{ selectedContact.homephone }} </h3> </p>
                  <md-divider ></md-divider>
                  <p> <h3><strong>Email</strong></h3> </p>
                  <p> <h3> {{ selectedContact.email }} </h3> </p>
                  <md-divider ></md-divider>
                  <p> <h3><strong>Address</strong></h3> </p>
                  <p> <h3> {{ selectedContact.address }} </h3> </p>
            </div>
            <md-divider ></md-divider>
          </md-list-item>
        </md-list>
      </md-content>
    </div>
  </div>
</div>

<script src="node_modules/angular/angular.js" ></script>
<script src="node_modules/angular-animate/angular-animate.js" ></script>
<script src="node_modules/angular-aria/angular-aria.js" ></script>
<script src="node_modules/angular-material/angular-material.js" ></script>
<script src="node_modules/angular-messages/angular-messages.js" ></script>
<!-- <script src="node_modules/jsonfile/index.js" ></script> -->
<script src="scripts/app.js" ></script>
<script src="components/contacts.ctr.js" ></script>
<script src="components/contacts.fac.js" ></script>
<script src="scripts/underscore-min.js"></script>
<script src="scripts/jquery-1.12.1.min.js" ></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.6.1/lodash.js"></script> -->
</script>
</body>
</html>
